<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - <%= subcategory.Label%></title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>

<div class="container linija">
    <div class="row">
        <div class="col-md-12">
            <span class="page-title">PARDUOTUVĖ</span>
            <p class="menuTitle"> <a class="menuTitleItem" href="/parduotuve">Parduotuvė</a><a> > </a><a class="menuTitleItem" href="../<%= category.Name %>"><%= category.Label%></a><a> > </a><a><%= subcategory.Label%></a></p>
        </div>
    </div>
    <% if(products.length == 0) { %>
        <div class="text-background">
            <ul class="tekstas">
                <li class="lastText">Nėra produktų!</li>
            </ul>
        </div>
    <% } %>
    <div class="shop-box">
        <div class="row">
            <% for(var i = 0; i < products.length; i++) { %>
                <div class="col-lg-3 col-6 text-center">
                    <a class="select" href="<%= subcategory.Name %>/<%= products[i].Name %>">
                        <div class="box product">
                            <img src="https://via.placeholder.com/300" alt="dummyimage" width="120" height="120">
                            <div class="box-title">
                                <h5><%= products[i].Label %></h5>
                            </div>
                            <div class="box-text">
                                <span><%= products[i].Description %></span>
                            </div>
                            <div class="box-text">
                                <span><%= products[i].Price %> Eur</span>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
    <hr>
</div>
<!--////////////////////////////////////////////////////////////////-->
</body>
</html>