<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - <%= product.Label %> <%= product.Description %></title>
    <%- include('Scripts.ejs') %>
    <script src="/quantitySelector.js"></script>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>


<div class="container linija">
    <div class="row">
        <div class="col-md-12">
            <span class="page-title">PARDUOTUVĖ</span>
            <p class="menuTitle"><a class="menuTitleItem" href="/parduotuve">Parduotuvė</a><a> > </a><a
                        class="menuTitleItem" href="../../<%= category.Name %>"><%= category.Label %></a><a> > </a><a
                        class="menuTitleItem" href="../<%= subcategory.Name %>"><%= subcategory.Label %></a><a>
                    > </a><a><%= product.Label %></a></p>
        </div>
    </div>
    <div class="shop-box">
        <div class="row text-background">
            <div class="col-lg-4 col-12 text-center">
                <div class="box">
                    <img src="https://via.placeholder.com/300" alt="dummyimage" width="250" height="250">
                </div>
            </div>
            <div class="col-lg-7 col-12 productInfo">
                <div class="item-title">
                    <span><%= product.Label %> - <%= product.Description %></span>
                </div>
                <div class="item-id">
                    <span>PREKĖS KODAS: <%= product._id %></span>
                </div>
                <div class="item-price">
                    <span class="item-price-number"><%= product.Price %> €</span>
                    <span class="item-price-unit">/ vnt.</span>
                </div>
                <div class="input-group">
                    <span class="input-group-btn btn-minus">
                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                            <span class="fa fa-minus" aria-hidden="true"></span>
                        </button>
                    </span>
                    <input type="text" id="quantity" name="quantity" class="input-number form-control text-center" value="1" min="1" max="1000">
                    <span class="input-group-btn btn-plus">
                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                            <span class="fa fa-plus"></span>
                        </button>
                    </span>
                </div>
                <button class="shopping-cart-button btn btn-danger fa fa-shopping-cart"> Įdėti į krepšelį</button>
            </div>
        </div>
    </div>


    <hr>
</div>
<!--////////////////////////////////////////////////////////////////-->
</body>
</html>